/* Nav */
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: inherit;
}

.nav__title {
    flex: 1;

    color: #333333;
}

.nav__list {
    flex: 4;

    text-align: right;
}

.nav__list a {
    margin-left: 1rem;

    font-weight: 500;
    font-size: 1.5rem;

    color: #333333;
}

.nav__list a:hover {
    color: #8D8DAA;
}

.nav .nav__hamburger {
    width: 48px;
    display: none;

    cursor: pointer;
}

.nav__hamburger:hover {
    transform: scale(1.1);
}

@media only screen and (max-width: 1000px) {
  .nav__list {
    display: none;
  }

  .nav .nav__hamburger {
    display: inline-block;
  }
}

/* Home */
.home__hero {
    margin: 3rem 0;

    border-radius: 18px;
}

.home__intro {
    width: 40%;
    min-width: 35rem;
}

.home__intro-paragraph {
    margin: 2rem 0;
}

@media only screen and (max-width: 1000px) {
  .home__intro {
    width: 80%;
  }
}

/* join-form */
.join-form {
    position: relative;
}

.join-form__label {
    font-weight: 500;
    font-size: 0.9rem;
    color: #828282;
}

.join-form__input {
    height: 3rem;
    padding: 1rem;

    font-weight: 500;
    font-size: 1rem;

    background: #F2F2F2;
    border-radius: 0.75rem;
    color: #BDBDBD;
}

.join-form__button {
    height: 2.7rem;
    width: 20%;

    position: absolute;
    bottom: 0.15rem;
    right: 0.5%;

    font-size: 1rem;
    font-weight: 500;

    background: #2D9CDB;
    border-radius: 0.75rem;
    color: #F2F2F2;
}

/* Cards */
.card__list {
    display: flex;
    justify-content: space-between;

    overflow-x: auto;
}

.card__item {
    width: 20%;
    min-width: 20rem;
    max-width: 40rem;
    min-height: 25rem;
    margin: 1rem;
    padding: 2rem;

    display: flex;
    flex-direction: column;

    background: #FFFFFF;
    border-radius: 24px;
    box-shadow: 0px 6px 15px rgba(51, 51, 51, 0.1);
}

.card__item:hover {
    box-shadow: 0px 6px 15px rgba(51, 51, 51, 0.3);
    transform: scale(1.01);
}

.card__icon {
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: blue;
    border-radius: 0.9rem;
}

.card__icon > .material-icons {
    color: #FFFFFF;
}

.card__item-title {
    margin: 2rem 0; 

    font-size: 1.5rem;
    font-weight: 700;
}

.card__item-button {
    height: 2.5rem;
    width: 9rem;
    margin-top: 2rem;

    font-size: 1rem;
    font-weight: 500;

    background: #E0E0E0;
    border-radius: 0.75rem;
    color: #828282;
}

.card__item-button:hover {
    background: #2D9CDB;
    color: #FFFFFF;
}

@media only screen and (max-width: 1000px) {
  .card__list {
    flex-direction: column;
    align-items: center;
  }

  .card__item {
      margin-bottom: 2rem;
      width: 80%;
  }
}

/* Projects */
.project__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project__item {
    width: 45%;
}

.project__item:nth-child(2n-1) {
    margin-top: 10rem;
}

.project__item > img {
    border-radius: 12px;
}

.project__item > p {
    margin: 0.1rem 0;
    font-size: 0.75rem;
    font-weight: 300;

    color: #828282;
}

.project__item > h3 {
    font-size: 1.5rem;
    font-weight: 500;

    color: #333333;
}

.project__see-more {
    display: block;

    font-size: 1.5rem;
    font-weight: 500;
    text-align: right;

    color: #2D9CDB;
    cursor: pointer;
}

.project__see-more > span {
    display: inline;
    vertical-align: middle;

    color: inherit;
}

@media only screen and (max-width: 1000px) {
  .project__list {
      flex-direction: column;
      align-items: center;
  }

  .project__item:nth-child(n) {
      width: 90%;
      margin: 2rem 0;
  }


  .project__see-more {
      text-align: left;
  }
}

/* Team */
.team {
    display: flex;
}

.team__intro {
    margin-right: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.team__intro > h2 {
    margin: 1rem 0; 

    font-size: 2rem;
    font-weight: 500;
    
    color: #333333;
}

.team__intro > h3 {
    font-size: 1rem;
    font-weight: 500;

    color: #EB5757;
}

.team__intro > p {
    color: #4F4F4F;
}

.team__img-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(1fr, 2);
    grid-template-areas: 
        "img1 img2"
        "img1 img3";
    gap: 1.2rem;
}

.team__img-list > img {
    border-radius: 24px;
}

.team__img1 {
    grid-area: img1;
    margin: auto 0;
}

.team__img2 {
    grid-area: img2;
    align-self: end;
}

.team__img3 {
    grid-area: img3;
    align-self: start;
}

@media only screen and (max-width: 1000px) {
  .team {
      flex-direction: column;
  }

  .team__img-list {
      margin-top: 1rem;
  }
}

/* User */
.user {
    margin-top: 2rem;

    display: flex;
}

.user__comment {
    max-width: 1000px;
}

.user > img {
    width: 100px;
    margin-right: 1rem;

    border-radius: 16px;
}

.user__info > h3 {
    font-size: 1.5rem;
    font-weight: 500;
}

.user__info > p {
    color: #828282;
}

/* Footer */
.footer-content {
    display: flex;
}

.footer-links {
    display: flex;
    flex-direction: column;
}

.footer-links > a {
    width: 6.5rem;
    margin-bottom: 1.2rem;

    color: #FFFFFF;
}

.footer-links > a:hover {
    transform: scale(1.1);
}

.footer-social > * {
    color: white
}

.footer-social__icons {
    display: flex;
}

.footer-social__icons > img {
    width: 2rem;
    margin-top: 1rem;
    margin-right: 1rem;

    cursor: pointer;
}

.footer-social__icons > img:hover {
    transform: scale(1.1);
}

.footer-form {
    position: relative;
}

.footer-form > * {
    color: #F2F2F2;
}

.copyright {
    margin: 3rem 0;

    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
    text-align: center;

    color: #F2F2F2;
}

@media only screen and (max-width: 1000px) {
    .footer-content {
        flex-direction: column;
    }

    .footer-content > div {
        margin: 1.2rem 0;
    }
}

/* Modal */
.modal {
    height: 100%;
    width: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 12;

    background-color: rgba(221, 221, 221, 0.95);

    animation-name: fade-in;
    -webkit-animation-name: fade-in; /* Chrome, Safari, Opera */

    animation-duration: 0.5s;
    -webkit-animation-duration: 0.5s; /* Chrome, Safari, Opera */

    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
}

@keyframes fade-in {
  from {top:-100px;opacity: 0;}
  to {top:0px;opacity:1;}
}

@-webkit-keyframes fade-in {
  from {top:-100px;opacity: 0;}
  to {top:0px;opacity:1;}
}

.modal-close {
    animation-name: fade-out;
    animation-duration: 0.5s;
    -webkit-animation-name: fade-out; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 0.5s; /* Chrome, Safari, Opera */

    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
}

@keyframes fade-out {
    from {top:0px;opacity:1;}
    to {top:-100px;opacity: 0;}
}

@-webkit-keyframes fade-out {
    from {top:0px;opacity:1;}
    to {top:-100px;opacity: 0;}
}

.modal__list {
    width: 10rem;
    display: flex;
    flex-direction: column;

    text-align: center;
}

.modal__list a {
    margin-bottom: 2rem;

    font-weight: 500;
    font-size: 1.5rem;

    color: #333333;
}

.modal__list a:hover {
    color: #8D8DAA;
    transform: scale(1.1);
}

.modal__close {
    width: 48px;

    position: absolute;
    top: 1.2rem;
    right: 1.2rem;
    
    cursor: pointer;
}

.modal__close:hover {
    transform: scale(1.2);
}

/* Margin */
.pd-offset-left {
    padding-left: 15%;
}

.mg-top-sm { margin-top: 1rem; }
.mg-top-md { margin-top: 2rem; }
.mg-top-lg { margin-top: 4rem; }
.mg-top-xlg { margin-top: 10rem; }

@media only screen and (max-width: 1000px) {
  .pd-offset-left {
    padding: 0 2rem;
  }
}

/* Font */
.ft-header-bold-lg {
    font-family: 'Heebo', sans-serif;
    font-size: 2.5rem;
    font-weight: 800;
}

.ft-header-lg {
    font-size: 3rem;
    font-weight: 500;
}

.ft-header-md {
    font-size: 2rem;
    font-weight: 500;
}

.ft-light-blue {
    color: #2D9CDB;
}

/* Icons */
.material-icons.md-18 { font-size: 1rem; width:1rem; }
.material-icons.md-24 { font-size: 1.5rem; width: 1.5rem; }
.material-icons.md-36 { font-size: 2rem; width: 2rem; }
.material-icons.md-48 { font-size: 3rem; width: 3rem; }

/* Colors */
.bg-blue { background: #2D9CDB; }
.bg-green { background: #27AE60; }
.bg-red { background: #EB5757; }